In [ ]:
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

In [2]:
# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share your notebook.

def __iter__(self): return 0


icos_client = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='*********************',
    ibm_auth_endpoint="https://iam.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://*******************')

body = icos_client.get_object(Bucket='*******',Key='Building_Energy_Prediction.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

   Relative_compactness     X1     X3      X4   X5  X6   X7  X8     Y1     Y2
0                  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1                  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2                  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3                  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4                  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

In [3]:
df = df_data_1

In [4]:
df.head(10)

   Relative_compactness     X1     X3      X4   X5  X6   X7  X8     Y1     Y2
0                  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1                  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2                  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3                  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4                  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28
5                  0.90  563.5  318.5  122.50  7.0   3  0.0   0  21.46  25.38
6                  0.90  563.5  318.5  122.50  7.0   4  0.0   0  20.71  25.16
7                  0.90  563.5  318.5  122.50  7.0   5  0.0   0  19.68  29.60
8                  0.86  588.0  294.0  147.00  7.0   2  0.0   0  19.50  27.30
9                  0.86  588.0  294.0  147.00  7.0   3  0.0   0  19.95  21.97

In [5]:
df.tail(10)

     Relative_compactness     X1     X3     X4   X5  X6   X7  X8     Y1     Y2
758                  0.66  759.5  318.5  220.5  3.5   4  0.4   5  14.92  17.55
759                  0.66  759.5  318.5  220.5  3.5   5  0.4   5  15.16  18.06
760                  0.64  784.0  343.0  220.5  3.5   2  0.4   5  17.69  20.82
761                  0.64  784.0  343.0  220.5  3.5   3  0.4   5  18.19  20.21
762                  0.64  784.0  343.0  220.5  3.5   4  0.4   5  18.16  20.71
763                  0.64  784.0  343.0  220.5  3.5   5  0.4   5  17.88  21.40
764                  0.62  808.5  367.5  220.5  3.5   2  0.4   5  16.54  16.88
765                  0.62  808.5  367.5  220.5  3.5   3  0.4   5  16.44  17.11
766                  0.62  808.5  367.5  220.5  3.5   4  0.4   5  16.48  16.61
767                  0.62  808.5  367.5  220.5  3.5   5  0.4   5  16.64  16.03

In [6]:
df = df.rename(columns={'X1': 'Surface_Area', 'X3': 'Wall_Area', 'X4':'Roof_Area', 'X5':'Overall_Height', 'X6':'Orientation', 'X7':'Glazing_Area', 'X8':'Glazing_Area_Distribution','Y1':'Heating_Load','Y2':'Cooling_Load'})

In [7]:
df.tail(10)

,Relative_compactness,Surface_Area,Wall_Area,Roof_Area,Overall_Height,Orientation,Glazing_Area,Glazing_Area_Distribution,Heating_Load,Cooling_Load
758,0.66,759.5,318.5,220.5,3.5,4,0.4,5,14.92,17.55
759,0.66,759.5,318.5,220.5,3.5,5,0.4,5,15.16,18.06
760,0.64,784.0,343.0,220.5,3.5,2,0.4,5,17.69,20.82
761,0.64,784.0,343.0,220.5,3.5,3,0.4,5,18.19,20.21
762,0.64,784.0,343.0,220.5,3.5,4,0.4,5,18.16,20.71
763,0.64,784.0,343.0,220.5,3.5,5,0.4,5,17.88,21.40
764,0.62,808.5,367.5,220.5,3.5,2,0.4,5,16.54,16.88
765,0.62,808.5,367.5,220.5,3.5,3,0.4,5,16.44,17.11
766,0.62,808.5,367.5,220.5,3.5,4,0.4,5,16.48,16.61
767,0.62,808.5,367.5,220.5,3.5,5,0.4,5,16.64,16.03

In [8]:
df.describe()

,Relative_compactness,Surface_Area,Wall_Area,Roof_Area,Overall_Height,Orientation,Glazing_Area,Glazing_Area_Distribution,Heating_Load,Cooling_Load
count,768.000000,768.000000,768.000000,768.000000,768.00000,768.000000,768.000000,768.00000,768.000000,768.000000
mean,0.764167,671.708333,318.500000,176.604167,5.25000,3.500000,0.234375,2.81250,22.307201,24.587760
std,0.105777,88.086116,43.626481,45.165950,1.75114,1.118763,0.133221,1.55096,10.090196,9.513306
min,0.620000,514.500000,245.000000,110.250000,3.50000,2.000000,0.000000,0.00000,6.010000,10.900000
25%,0.682500,606.375000,294.000000,140.875000,3.50000,2.750000,0.100000,1.75000,12.992500,15.620000
50%,0.750000,673.750000,318.500000,183.750000,5.25000,3.500000,0.250000,3.00000,18.950000,22.080000
75%,0.830000,741.125000,343.000000,220.500000,7.00000,4.250000,0.400000,4.00000,31.667500,33.132500
max,0.980000,808.500000,416.500000,220.500000,7.00000,5.000000,0.400000,5.00000,43.100000,48.030000

In [9]:
import numpy as np
import pandas as pd


# Simple multi linear regression

# Set x and y for regression
X = df[["Relative_compactness", "Surface_Area","Wall_Area","Roof_Area","Overall_Height","Orientation","Glazing_Area","Glazing_Area_Distribution"]]
y = df["Heating_Load"]

In [10]:
import statsmodels.api as sm
model = sm.OLS(y, X).fit()
predictions = model.predict(X)

model.summary()

/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           Heating_Load   R-squared:                       0.985
Model:                            OLS   Adj. R-squared:                  0.985
Method:                 Least Squares   F-statistic:                     7347.
Date:                Mon, 03 Jun 2019   Prob (F-statistic):               0.00
Time:                        09:45:16   Log-Likelihood:                -1922.2
No. Observations:                 768   AIC:                             3858.
Df Residuals:                     761   BIC:                             3891.
Df Model:                           7
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Relative_compactness        -20.0442      1.806    -11.101      0.000     -23.589     -16.500
Surface_Area                 -0.0037      0.001     -2.912      0.004      -0.006      -0.001
Wall_Area                     0.0322      0.004      8.497      0.000       0.025       0.040
Roof_Area                    -0.0179      0.002     -7.352      0.000      -0.023      -0.013
Overall_Height                5.2968      0.224     23.627      0.000       4.857       5.737
Orientation                  -0.0160      0.096     -0.167      0.867      -0.204       0.172
Glazing_Area                 19.9608      0.824     24.231      0.000      18.344      21.578
Glazing_Area_Distribution     0.2063      0.071      2.916      0.004       0.067       0.345
==============================================================================
Omnibus:                       13.549   Durbin-Watson:                   0.608
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               23.976
Skew:                          -0.005   Prob(JB):                     6.22e-06
Kurtosis:                       3.866   Cond. No.                     5.91e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.3e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [11]:
# RandomForest regressor
# Import train_test_split function
from sklearn.model_selection import train_test_split
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test

In [12]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

#Create a regressor
Regressor=RandomForestRegressor(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
Regressor.fit(X_train,y_train)

y_pred=Regressor.predict(X_test)

print("Accuracy:",metrics.r2_score(y_test, y_pred))

Accuracy: 0.996819613563